.page{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;

    left: 50%;
    transform: translate(-50%, 0);

    background-color: rgb(180, 101, 101);

    overflow: hidden;

    display: flex;
    flex-direction : column;
}

.titleWrap{
    margin-top : 26px;
    font-size: 26px;
    font-weight: 700;
    color: #262626;
}

.contentWrap{
    margin-top: 26px;
    flex: 1;
}

.inputTitle{
    font-size: 12px;
    font-weight: 600;
    color: #262626;
}

.inputWrap{
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #e2e0e0;
}

/* 인풋창이 포커스 되면 색깔 바뀌게하기 */
.inputWrap : focus-within{
    border: 1px solid #9e30f4;
}

.input{
    width: 100%;
    outline: none;
    border: none;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
}

.input::placeholder{
    color: #dadada;
}

.errorMessageWrap{
    margin-top: 8px;
    color: #ef0000;
    font-size: 12px;
}

.bottomButton{
    width: 100%;
    height: 48px;
    border: none;
    font-weight: 700;
    background-color: #9e30f4;
    border-radius: 64px;
    color: white;
    margin-bottom : 16px;
    cursor: pointer;
}

/* 버튼이 활성화되지 않았을 때 */
.bottomButton:disabled{
    background-color: #dadada;
    color:white;
}


/* 무비 화면 */
.movie-container {
    width: 250px;
    margin: 16px;
    /* border: 1px solid red; */
    background-color: #373b69;
    /* 글자색 */
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

.movie-container img{
    max-width: 100%;
}

.app-container{
    display: flex;
    /* 브라우저 길이가 길 때 아이템들을 아래로 내려주는 역할 */
    flex-wrap: wrap;
    /* 중앙정렬 */
    justify-content : center;
}

body{
    background-color: #22254b;
}

.movie-info{
    display: flex;
    padding: 20px;
    /* 글자를 서로 양끝으로 보내고 싶을 때 */
    justify-content: space-between;
    /* 수평 맞추기 */
    align-items: center;
}

/* h4 가 가진 기본 마진을 0으로 */
.movie-info h4{
    margin: 0px;
}

.movie-info span{
    margin-left: 3px;
}